[Unit]
Description=Set shell for wheel members 

[Service]
Type=oneshot
ExecStart=/usr/bin/default-shell
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
